<p>Total Price: {{total | async | currency:'USD':'symbol'}}</p>

<table mat-table [dataSource]="cart | async" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.item.rating}} / 10 </td>
    </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.item.price | currency:'USD':'symbol'}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Count </th>
    <td mat-cell *matCellDef="let element"> {{element.count}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>

    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" (click)="removeItem(element.item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="(cart | async).length === 0" class="text-center empty-table mat-elevation-z8">
  <div>Add some items to your cart!</div>
</div>


