table {
  width: 100%;
}

.empty-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: #262626;
  border-color: grey;
}

.mat-row:nth-child(even){
  background-color: #666666;
}
