@import '~@angular/material/theming';
@import './ws-theme.scss';

@include mat-core();

$ws-app-primary: mat-palette($ws-primary);
$ws-app-accent: mat-palette($ws-accent);
$ws-app-warn: mat-palette($ws-warn);

$ws-app-theme: mat-dark-theme($ws-app-primary, $ws-app-accent, $ws-app-warn);
@include angular-material-theme($ws-app-theme);