<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Webstore Demo</span>

    <button class="nav-button" mat-button routerLinkActive="accent-text" routerLink="/browse">
      Browse
    </button>

    <button class="nav-button"
      mat-button
      routerLinkActive="accent-text"
      *ngIf="(auth | async)"
      routerLink="/cart"
    >
      Cart ({{cartLength | async}})
    </button>

    <span class="spacer"></span>
    <button mat-raised-button (click)="logout()" *ngIf="(auth | async); else loginButton">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>

    <ng-template #loginButton>
      <button mat-raised-button (click)="login()">
        <mat-icon>account_circle</mat-icon>
        <span>Log In</span>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
