<div class="item-list">
  <mat-card class="item-card" *ngFor="let item of (items | async)">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.image" alt="item.name">
    <mat-card-content>
      <p>Price: {{item.price | currency:'USD':'symbol'}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button color="accent" *ngIf="auth | async" mat-raised-button (click)="addItem(item)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>

      
      <button color="primary" mat-raised-button [routerLink]="'/details/' + item.id">
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>
</div>
