@import "./theme/ws-theme-mixins.scss";

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #262626;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.main-container {
  padding: 20px;
  max-width: 1080px;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.primary-text {
  color: mat-color($ws-primary, 500) !important;
}

.accent-text {
  color: mat-color($ws-accent, 500) !important;
}

.warn-text {
  color: mat-color($ws-warn, 500) !important;
}

.success-text {
  color: mat-color($ws-success, 500) !important;
}

.mat-card-header-text {
  width: 100%;
  height: 46.4px;
  text-align: center;
}
