<ng-container *ngIf="(details | async) as details">
  <mat-card class="details-card">
    <mat-card-header>
      <mat-card-title>{{details.name}}</mat-card-title>
    </mat-card-header>
    <img class="details-image" mat-card-image [src]="details.image" alt="details.name">
    <mat-card-content>
      <p>{{details.description}}</p>
      <p>Price: {{details.price | currency:'USD':'symbol'}}</p>
      <p>Rating: {{details.rating}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" *ngIf="auth | async" mat-raised-button (click)="addItem(details)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
